<h1> Index Page </h1>

<%@cool_links.each do |lnk|%>


<div class='link_listing'>
  <img src='<%="http://lorempixel.com/100/100/#{lnk[:imgtype]}"%>'>
    <div>
      <h3> <a href="<%=lnk[:url]%>"> <%=lnk[:title]%> </a> </h3>
      <p>submitted by <%=lnk[:user]%> on <%=lnk[:date]%></p>
    </div>
</div>
<%end%>
